/* Created by: Katie
* Created on: April 2022
* This CSS file defines the style for index.html
* ICS2O-Unit4-01-HTML-GuessMyNumber
*/

h1 {
  color: goldenrod;
  background-color: cornsilk;
  border: 6px dotted saddlebrown;
}

body {
  color: darkblue;
}